<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
<!-- Title+导航 -->
<#include "header.html" />

<div class="main-bj">
    <div class="win1200 main-content">
        <div class="crumbs">
            <div class=" location">位置：
                <a href="/index">首页</a>
                <#if navigateList??> &gt; <#list navigateList?reverse as nav>
                    <#if nav_has_next>
                        <a href="javascript:;"><#if nav.categoryName??> ${nav.categoryName!''} </#if></a> <#if nav_has_next> &gt; </#if>
                    <#else>
                        <span><a href="${base}/product/list/${nav.parentId?c}/${nav.categoryId?c}.html"><#if nav.categoryName??> ${nav.categoryName!''}</#if></a></span>
                    </#if>
                </#list></#if>
            </div>
        </div>

        <div class="news-list">
            <ul><#if root.childCategoryList??><#list root.childCategoryList as category>
                <li>
                    <a>
                        <dt>
                            <a href="<#if category??><#if category.categoryUrl??>${category.categoryUrl}<#else>javascript:;</#if></#if>" target="_blank"><#if category??><#if category.categoryName??>${category.categoryName}</#if></#if></a></dt>
                    </dl>
                </li></#list></#if>
            </ul>
        </div>
    </div>
</div>

<!-- 版权-->
<#include "footer.html" />
</body>

</html>