<#import "./ftl/website.ftl" as w>
<!-- 顶部 -->
<div class="top-bj">
    <div class="win1200">
        <div class="logo-warp"><img src="${base}/res/website/images/logo.jpg"></div>
        <div class="seach-warp">
            <div class="seachall clearfix">
                <input id="searchText" name="q" type="text" value="请输入关键词"><button name="button" type="submit" value=" 搜索"></button>
            </div>
        </div>
    </div>
</div>

<!-- 导航 -->
<div class="navbj">
    <div class="menu">
    <@w.navigater channelList 0 />
    </div>
</div>