<#import "./ftl/website.ftl" as w>
<!-- 顶部 -->
<div class="top-bj">
    <div class="win1200">
        <div class="logo-warp"><img src="${base}/res/website/images/logo.jpg"></div>
        <div class="seach-warp">
            <div class="seachall clearfix">
                <input id="searchText" name="q" type="text" value="请输入关键词"><button name="button" type="submit" value=" 搜索"></button>
            </div>
        </div>
    </div>
</div>
<#--
<@w.mactest "Hello Word!" />
-->

<!-- 导航 -->
<div class="navbj">
    <div class="menu">
        <ul>
            <li><a href="${base}/" class="menu-active">首页
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>

            <li><a href="">中文期刊数据库
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">CNKI</a></li>
                    <li><a href="">维普</a></li>
                    <li><a href="">超星</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>

            <li><a href="">外文期刊数据库
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">核心会议录</a></li>
                    <li><a href="">核心会议录</a></li>
                    <li><a href="">IEEE全文会议期刊</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>


            <li><a href="">情报中心产品
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">专题报告</a></li>
                    <li><a href="">电子快报</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>


            <li><a href="">集团情报产品
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">集团情报产品分类1</a></li>
                    <li><a href="">集团情报产品分类2</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>


            <li><a href="">公司主办期刊
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href=" ">半导体光电</a></li>
                    <li><a href=" ">微电子学</a></li>
                    <li><a href=" ">磁性材料及器械</a></li>
                    <li><a href=" ">压电与声光</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="">外购报告
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href=" ">外购报告分类1</a></li>
                    <li><a href=" ">外购报告分类2</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
    </div>
</div>