<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />

    <!-- 内容区域 -->
    <div class="win1200">
        <div class="left-warp ">
            <#if root.centerCategory??>
                <#if root.centerCategory.childList?? && (root.centerCategory.childList?size >0) >
                    <div class="tit-2">情报中心产品</div>
                    <!-- 有子列表输出子列表中的内容 -->
                    <#list root.centerCategory.childList as item>
                    <div class="small-tit-warp">
                        <div class="small-tit"><#if item.categoryName??>${item.categoryName!''}<#else></#if></div>
                        <div class="more"><a href="${base}/product/list/${item.parentId?c}/${item.categoryId?c}.html">更多 <img src="${base}/website/images/arr.png"></a></div>
                    </div>
                    <div class="news-index" style="height: 240px;">
                        <ul>
                            <#if item.dataList?? && (item.dataList?size gt 0)> <#list item.dataList as data>
                            <li>
                                <div class="left-tit"><a href="${base}/product/detail/${data.dataId?c}.html"><#if data.name??>${data.name!''}</#if></a></div>
                                <div class="time"><#if data.createTime??>${data.createTime?string('MM-dd')}<#else>00-00</#if></div>
                            </li>
                            </#list></#if>
                        </ul>
                    </div>
                    <#if item_has_next><div class="news-index-line"></div></#if>
                    </#list>
                <#else>
                    <!-- 没有子列表则输出自身所属的内容 -->
                    <div class="group">
                        <div class="tit-2"><#if root.centerCategory.categoryName??>${root.centerCategory.categoryName!''}</#if></div>
                        <div class="more"><a href="${base}/product/list/${root.centerCategory.parentId?c}/${root.centerCategory.categoryId?c}.html">更多 <img src="${base}/website/images/arr.png"></a></div>
                    </div>

                    <#if root.centerCategory.dataList?? && (root.centerCategory.dataList?size >0) >
                    <div class="news-index" style="height: 240px;">
                        <ul>
                            <#if root.centerCategory.dataList?? && (root.centerCategory.dataList?size gt 0)> <#list root.centerCategory.dataList as data>
                            <li>
                                <div class="left-tit"><a href="${base}/product/detail/${data.dataId?c}.html"><#if data.name??>${data.name!''}</#if></a></div>
                                <div class="time"><#if data.createTime??>${data.createTime?string('MM-dd')}<#else>00-00</#if></div>
                            </li>
                            </#list></#if>
                        </ul>
                    </div>
                    </#if>
                </#if>
            <#else>
                资料整理中...
            </#if>
        </div>

        <div class="left-warp ">
            <#if root.companyCategory??>
                <#if root.companyCategory.childList?? && (root.companyCategory.childList?size >0) >
                <div class="group">
                    <div class="tit-2">集团情报产品</div>
                </div>
                <!-- 有子列表输出子列表中的内容 -->
                <#list root.companyCategory.childList as item>
                <div class="small-tit-warp">
                    <div class="small-tit"><#if item.categoryName??>${item.categoryName!''}<#else></#if></div>
                    <div class="more"><a href="${base}/product/list/${item.parentId?c}/${item.categoryId?c}.html">更多 <img src="${base}/website/images/arr.png"></a></div>
                </div>
                <#if item.dataList?? && (item.dataList?size >0) >
                <div class="news-index" >
                    <ul>
                        <#if item.dataList?? && (item.dataList?size gt 0)> <#list item.dataList as data>
                        <li>
                            <div class="left-tit"><a href="${base}/product/detail/${data.dataId?c}.html"><#if data.name??>${data.name!''}</#if></a></div>
                            <div class="time"><#if data.createTime??>${data.createTime?string('MM-dd')}<#else>00-00</#if></div>
                        </li></#list></#if>
                    </ul>
                </div>
                </#if>
                </#list>
                <#else>
                    <!-- 没有子列表则输出自身所属的内容 -->
                    <div class="group">
                        <div class="tit-2"><#if root.companyCategory??>${root.companyCategory.categoryName!''}<#else></#if></div>
                        <div class="more"><a href="${base}/product/list/${root.companyCategory.parentId?c}/${root.companyCategory.categoryId?c}.html">更多 <img src="${base}/website/images/arr.png"></a></div>
                    </div>
                    <#if root.companyCategory.dataList?? && (root.companyCategory.dataList?size >0) >
                        <div class="news-index" style="height: 240px;">
                            <ul>
                                <#if root.companyCategory.dataList?? && (root.companyCategory.dataList?size gt 0)> <#list root.companyCategory.dataList as data>
                                <li>
                                    <div class="left-tit"><a href="${base}/product/detail/${data.dataId?c}.html"><#if data.name??>${data.name!''}</#if></a></div>
                                    <div class="time"><#if data.createTime??>${data.createTime?string('MM-dd')}<#else>00-00</#if></div>
                                </li>
                                </#list></#if>
                            </ul>
                        </div>
                    </#if>
                </#if>
            <#else>
                资料整理中...
            </#if>
        </div>

        <div class="right-warp">
            <div class="right-warp-top">
                <div class="out-report">
                    <div class="tit-2">公告信息</div>
                    <div class="more"><a href="${base}/notice/list">更多 <img src="${base}/website/images/arr.png"></a></div>
                </div>
                <div class="adv-index">
                    <ul>
                        <#if root.noticeList?? && (root.noticeList?size gt 0)><#list root.noticeList as notice>
                        <li>
                            <div class="left-tit xh1">  <a href="/notice/detail/${notice.noticeId?c}.html">${notice.title!''}</a></div>
                        </li>
                        </#list><#else>资料整理中...</#if>
                    </ul>
                </div>
            </div>

            <div class="right-warp-mid ">
                <div class="right-warp-mid-left ">
                    <div class="right-bj">外文期刊数据库</div>
                    <div class="right-list">
                        <#if root.foreignList?? && (root.foreignList?size gt 0)><#list root.foreignList as item>
                           <a href="${item.categoryUrl!''}" target="_blank">${item.categoryName!''}</a>
                        </#list> <#else>资料整理中...</#if>
                    </div>
                </div>
                <div class="right-warp-mid-right ">
                    <div class="right-bj">中文期刊数据库</div>
                    <div class="right-list">
                        <#if root.chinaList?? && (root.chinaList?size gt 0)><#list root.chinaList as item>
                            <a href="${item.categoryUrl!''}" target="_blank">${item.categoryName!''}</a>
                        </#list> <#else>资料整理中...</#if>
                    </div>
                </div>
            </div>

            <div class="right-warp-bottom">
                <div class="out-report">
                    <div class="tit-2">外购报告</div>
                    <div class="more">
                        <#if root.outerBuyCategory??>
                        <a href="${base}/product/list/${root.outerBuyCategory.parentId!''}/${root.outerBuyCategory.categoryId!''}/">更多
                        <#else>
                            <a href="${base}/product/list/666666/422555/">更多
                        </#if>
                        <img src="${base}/website/images/arr.png"></a>
                    </div>
                </div>
                <div class="news-index" style="padding-left: 20px;">
                    <ul>
                        <#if root.outerBuyCategory??><#if root.childList?? && (root.childList?size gt 0)>
                        资料类别整理中...
                        <#else>
                            <!--没有子类别-->
                            <#if root.dataList??>
                                <li>
                                    <div class="left-tit"><a href="">Transient Electronics Market(2020-2028)</a></div>
                                </li>
                            <#else>
                                资料整理中...
                            </#if>
                        </#if></#if>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 刊物 -->
    <div class="periodical-warp win1200">
        <div class="periodical-top">
            <div class="title w110">公司主办期刊</div>
            <div class="more">
                <!--
                <a href="${base}/product/list/555555/">更多 <img src="${base}/website/images/arr.png"></a>
                -->
            </div>
        </div>

        <div class="periodical-list">
            <ul>
                <#if root.publicationList?? && (root.publicationList?size gt 0)>  <#list root.publicationList as item>
                <li>
                    <a href="${base}/product/list/${item.parentId?c}/${item.categoryId?c}.html">
                        <div class="listpic"><img src="${base}${item.coverUrl!''}" class="img-warp"></div>
                        <div class="tit"><#if item.categoryName??>${item.categoryName!''}<#else></#if></div>
                    </a>
                </li>
                </#list> <#else>资料整理中...</#if>
            </ul>
        </div>
    </div>

    <!-- 友情连接 -->
    <div class="link-warp">
        <div class="win1200">
            <div class="title">相关链接</div>
            <#if root.linkList?? && (root.linkList?size gt 0)>
            <#list root.linkList as link>
                <a href="${link.url!''}" target="_blank"><#if link.name??>${link.name!''}<#else></#if></a>
            </#list> <#else>资料整理中...</#if>
        </div>
    </div>

    <!-- 版权-->
    <#include "footer.html" />
</body>

</html>