<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- 顶部 -->
    <div class="top-bj">
        <div class="win1200">
            <div class="logo-warp"><img src="${base}/res/website/images/logo.jpg"></div>
            <div class="seach-warp">
                <div class="seachall clearfix">
                    <input id="searchText" name="q" type="text" value="请输入关键词"><button name="button" type="submit" value=" 搜索"></button></div>
            </div>
        </div>
    </div>

    <div id="header">
        <div class="wrapper">
            <div class="content">
                <div id="navWrapper">
                    <div class="content">
                        <ul class="nav movedx" style="position: relative;">
                            <li class="navitem"><a class="active" href="/">首页</a></li>
                            <li class="navitem">
                                <a href="javascript:;">中文期刊数据库</a>
                                <ul class="subnav">
                                    <li><a href="">CNKI</a></li>
                                    <li><a href="">维普</a></li>
                                    <li><a href="">超星</a></li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="javascript:;">外文期刊数据库</a>
                                <ul class="subnav">
                                    <li><a href="">核心会议录</a></li>
                                    <li><a href="">核心会议录</a></li>
                                    <li><a href="">IEEE全文会议期刊</a></li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="javascript:;">情报中心产品</a>
                                <ul class="subnav">
                                    <li><a href="">专题报告</a></li>
                                    <li><a href="">电子快报</a></li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="javascript:;">集团情报产品</a>
                                <ul class="subnav">
                                    <li><a href="">集团情报产品分类1</a></li>
                                    <li><a href="">集团情报产品分类2</a></li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="javascript:;">公司主办期刊</a>
                                <ul class="subnav">
                                    <li><a href="">半导体光电</a></li>
                                    <li><a href="">微电子学</a></li>
                                    <li><a href="">磁性材料及器械</a></li>
                                    <li><a href="">压电与声光</a></li>
                                </ul>
                            </li>
                            <li class="navitem">
                                <a href="javascript:;">外购报告</a>
                                <ul class="subnav">
                                    <li><a href="">外购报告分类1</a></li>
                                    <li><a href="">外购报告分类2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="win1200">
        <div class="left-warp ">
            <div class="tit-2">情报中心产品</div>
            <div class="small-tit-warp">
                <div class="small-tit">专题报告</div>
                <div class="more"><a href="">更多 <img src="../web/images/arr.png"></a></div>
            </div>
            <div class="news-index">
                <ul>
                    <li>
                        <a href="">
                            <div class="left-tit">NASA空间光通信发展计划及应用价值分析</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">大赫兹量子级联激光器研究进展</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">微声SAW&BAW器件技术最新研究成果与微声SAW&BAW器件技术最新研究成果与</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">新一代智能传感器最新研究进展与应用</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">NASA空间光通信发展计划及应用价值分析</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">NASA空间光通信发展计划及应用价值分析</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">NASA空间光通信发展计划及应用价值分析</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">NASA空间光通信发展计划及应用价值分析</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="news-index-line"></div>
            <div class="small-tit-warp">
                <div class="small-tit">专题报告</div>
                <div class="more"><a href="">更多 <img src="../web/images/arr.png"></a></div>
            </div>
            <div class="news-index">
                <ul>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第三期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第二期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第一期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第三期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第二期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第一期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第一期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">2020电子快报第一期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="left-warp ">
            <div class="group">
                <div class="tit-2">集团情报产品</div>
                <div class="more"><a href="">更多 <img src="../web/images/arr.png"></a></div>
            </div>
            <div class="news-index">
                <ul>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">天地一题化信息网络》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">《光电情报专刊》2020期</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="left-tit">网络信息体系情报研究《一周要闻》2020</div>
                            <div class="time">08-29</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="right-warp">

            <div class="right-warp-top">
                <div class="out-report">
                    <div class="tit-2">公告信息</div>
                    <div class="more"><a href="">更多 <img src="../web/images/arr.png"></a></div>
                </div>
                <div class="adv-index">
                    <ul>
                        <li>
                            <a href="">
                                <div class="left-tit xh1">信息情报研究院2020年招聘公告信息情报</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit xh2">中国社会科学院举行2020年度挂职干部座</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit xh3">国际抗疫合作与提振世界经济云论坛举行</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit xh4">过好“政治生日” 牢记初心使命</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit xh5">中国社会科学院党组召开2020年度巡视工</div>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-warp-mid ">
                <div class="right-warp-mid-left ">
                    <div class="right-bj">外文期刊数据库</div>
                    <div class="right-list">
                        <a href="">核心会议录</a>
                        <a href="">核心期刊</a>
                        <a href="">IEEE全文会议期刊</a>
                    </div>

                </div>
                <div class="right-warp-mid-right ">
                    <div class="right-bj">中文期刊数据库</div>
                    <div class="right-list">
                        <a href="">CNKI</a>
                        <a href="">维普</a>
                        <a href="">超星</a>
                    </div>
                </div>
            </div>
            <div class="right-warp-bottom">
                <div class="out-report">
                    <div class="tit-2">外购报告</div>
                    <div class="more"><a href="">更多 <img src="../web/images/arr.png"></a></div>
                </div>

                <div class="news-index">
                    <ul>
                        <li>
                            <a href="">
                                <div class="left-tit">Transient Electronics Market(2020-2028)</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit">RF-Acoustic-Wave-Filters-Patent-Land.</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit">5G’s Impact on the RF Front-end Indu5G’s Impact on the RF Front-end Indu</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit">Applicatons _Youle Report_2017</div>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-tit">Applicatons _Youle Report_2017</div>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="periodical-warp win1200">
        <div class="periodical-top">
            <div class="title w110">公司主办期刊</div>
            <div class="more"><a href="">更多 <img src="${base}/res/website/images/arr.png"></a></div>
        </div>
        <div class="periodical-list">
            <ul>
                <li>
                    <a href="">
                        <div class="listpic"><img src="${base}/res/website/images/1.jpg" class="img-warp"></div>
                        <div class="tit">半导体光电</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="listpic"><img src="${base}/res/website/images/2.jpg" class="img-warp"></div>
                        <div class="tit">微电子学</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="listpic"><img src="${base}/res/website/images/3.jpg" class="img-warp"></div>
                        <div class="tit">磁性材料及器件</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="listpic"><img src="${base}/res/website/images/4.jpg" class="img-warp"></div>
                        <div class="tit">压电与声光</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="link-warp">
        <div class="win1200">
            <div class="title">相关链接</div>
            <a href="">中电科技集团重庆声光电有限公司</a> <a href="">中国电子科技集团公司</a> <a href="">超星数字图书</a> <a href="">超声年会</a> <a href="">中电科技集团重庆声光电有限公司</a>
            <a href="">中国电子科技集团公司</a> <a href="">超星数字图书</a> <a href="">超声年会</a>
        </div>
    </div>

    <div class="footer">
        <div class="win1200">
            版权所有：中电科技集团重庆声光电有限公司
        </div>
    </div>
</body>

</html>