<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />

    <div class="main-bj">
        <div class="win1200 main-content">
            <div class="crumbs">
                <div class=" location">位置：<a href="${base}/">首页</a> > <span><a href="${base}/notice/list">公告信息</a></span></div>
            </div>
            <#if root.noticeInfo??>
                <div class="main-tit">
                    <h1><#if root.noticeInfo.title??>${root.noticeInfo.title!''}</#if></h1>
                    <div class="kuang"><#if root.noticeInfo.publicTime??>发布时间：${root.noticeInfo.publicTime?string('yyyy-MM-dd')}</#if></div>
                </div>
                <div class="details-content">
                    <#if root.noticeInfo.content??>${root.noticeInfo.content!''}</#if>
                </div>
            <#else>
                <div class="main-tit">抱歉，没有指定的内容！</div>
            </#if>
        </div>
    </div>

    <!-- 版权-->
    <#include "footer.html" />

</body>

</html>