<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />

    <div class="main-bj">
        <div class="win1200 main-content">
            <div class="crumbs">
                <div class=" location">位置：<a href="${base}/index">首页</a> > <span><a href="">公告信息</a></span></div>
            </div>
            <div class="news-list">
                <ul><#if root.page??><#if root.page.list?? && (root.page.list?size gt 0)><#list root.page.list as item>
                    <li>
                        <div class="time">
                            <#if item.publicTime??>${item.publicTime?string('MM-dd')} <i> ${item.publicTime?string('yyyy')}</#if>
                        </div>
                        <dl>
                            <dt><a href="${base}/notice/detail/${item.noticeId?c}.html"><#if item.title??>${item.title!''}</#if></a></dt>
                            <dd>
                                <#if item.content??>
                                    <#if (item.content?length gt 100)>
                                         ${(item.content!'')?substring(0,96)}...
                                    <#else>
                                         ${item.content!''}
                                    </#if>
                                </#if>
                            </dd>
                        </dl>
                    </li></#list><#else>资料整理中...</#if></#if>
                </ul>
            </div>

            <div class="page">
                <#if root.page??><#if root.page.list?? && (root.page.list?size gt 0)>
                <@page.pager root.page "/notice/list/" {} 3/>
                </#if></#if>
            </div>
        </div>
    </div>

    <!-- 版权-->
    <#include "footer.html" />
</body>

</html>