<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />
    <div class="win1200 main-content">
        <div class="crumbs">
            <div class=" location">位置：
                <a href="/index">首页</a>
                <#if navigateList??> &gt; <#list navigateList?reverse as nav>
                  <#if nav_has_next>
                     <a href="javascript:;"><#if nav.categoryName??> ${nav.categoryName!''} </#if></a> <#if nav_has_next> &gt; </#if>
                  <#else>
                   <span><a href="${base}/product/list/${nav.parentId?c}/${nav.categoryId?c}.html"><#if nav.categoryName??> ${nav.categoryName!''}</#if></a></span>
                  </#if>
                </#list></#if>
            </div>
        </div>

        <div class="main-tit">
            <#if root.dataInfo??>
            <h1><#if root.dataInfo.name??>${root.dataInfo.name!''}</#if></h1>
            <div class="kuang"><#if root.dataInfo.createTime??>发布时间：${root.dataInfo.createTime?string('yyyy-MM-dd')}</#if></div>
            </#if>
        </div>
        <!--
        <div class="all-time">
            <#if root.dataInfo??>
            <dl>
                <dt>
                    文献作者：
                </dt>
                <dd><#if root.dataInfo.author??>${root.dataInfo.author}</#if></dd>
            </dl>
            <dl>
                <dt>
                    发表平台：
                </dt>
                <dd><#if root.dataInfo.platform??>${root.dataInfo.platform}</#if></dd>
            </dl>
            <dl>
                <dt>
                    资料来源：
                </dt>
                <dd><#if root.dataInfo.source??>${root.dataInfo.source}</#if></dd>
            </dl>
            <dl>
                <dt>
                    文件编号:
                </dt>
                <dd><#if root.dataInfo.publicNum??>${root.dataInfo.publicNum}</#if></dd>
            </dl>
            </#if>
        </div>
        -->
        <div class="details-content">
            <!--
            <div class="zhaiyao">摘要</div>
            <p>
            <#if root.dataInfo.abstracts??>${root.dataInfo.abstracts}</#if>
            </p>
            -->
            <#if root.dataInfo.abstracts??>${root.dataInfo.abstracts}</#if>
        </div>

        <div class="btn-bottom" style="width:130px;">
            <!--
            <a href="" class="btn-1">查看PDF</a>
            -->
            <a href="/product/downloadFile/<#if root.dataInfo.dataId??>${root.dataInfo.dataId?c}</#if>.html" target="_blank" class="btn-1">下载PDF</a>
        </div>

    </div>
</div>

    <!-- 版权-->
    <#include "footer.html" />

</body>
</html>