<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/website/style/style.css" />
</head>

<body>

<!-- 顶部 -->
<div class="top-bj">

    <div class="win1200">
        <div class="logo-warp"><img src="../web/images/logo.jpg"></div>
        <div class="seach-warp">
            <div class="seachall clearfix">
                <input id="searchText" name="q" type="text" value="请输入关键词"><button name="button" type="submit" value=" 搜索"></button></div>
        </div>
    </div>
</div>

<div class="main-bj"> <div class="navbj">
    <div class="menu">
        <ul>
            <li><a href="">首页
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->

                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="">中文期刊数据库
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">CNKI</a></li>
                    <li><a href="">维普</a></li>
                    <li><a href="">超星</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="">外文期刊数据库
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">核心会议录</a></li>
                    <li><a href="">核心会议录</a></li>
                    <li><a href="">IEEE全文会议期刊</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>

            <li><a href="" class="menu-active">情报中心产品
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">专题报告</a></li>
                    <li><a href="">电子快报</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>

            <li><a href="">集团情报产品
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href="">集团情报产品分类1</a></li>
                    <li><a href="">集团情报产品分类2</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>

            <li><a href="">公司主办期刊
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href=" ">半导体光电</a></li>
                    <li><a href=" ">微电子学</a></li>
                    <li><a href=" ">磁性材料及器械</a></li>
                    <li><a href=" ">压电与声光</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="">外购报告
                <!--[if IE 7]><!--></a>
                <!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                    <li><a href=" ">外购报告分类1</a></li>
                    <li><a href=" ">外购报告分类2</a></li>
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
    </div>
</div>
    <div class="win1200 main-content">
        <div class="crumbs">
            <div class=" location">位置：<a href="">首页</a> > <a href="">情报中心产品</a> > <span><a href="">专题报告</a></span>
            </div>
        </div>

        <div class="main-tit">

            <h1>NASA空间光通信发展计划及应用价值分析</h1>
            <div class="kuang">发布时间：2020-09-06


            </div>
        </div>
        <div class="all-time">
            <dl>
                <dt>
                    文献类型：
                </dt>
                <dd>出版物</dd>
            </dl>
            <dl>
                <dt>
                    文献子类型：
                </dt>
                <dd>报告</dd>
            </dl>
            <dl>
                <dt>
                    资源子集：
                </dt>
                <dd>DOC报告</dd>
            </dl>
            <dl>
                <dt>
                    产生时间：
                </dt>
                <dd>2020-07-06</dd>
            </dl>
            <dl>
                <dt>
                    入库时间：
                </dt>
                <dd> 2020-09-06
                </dd>
            </dl>
            <dl>
                <dt>
                    文件编号:
                </dt>
                <dd>DOE/NV/03624-0659
                </dd>
            </dl>

        </div>
        <div class="details-content">
            <div class="zhaiyao">摘要</div>
            <p>8月5日，在“筑造信创安全边疆——龙芯CPU安全体系发布会”上，中国网安旗下卫士通与龙芯中科联合发布“龙芯安全模块及SDK（软件开发工具包）”，标志着双方在信息技术应用创新大潮下，将密码技术与自主研发的CPU深度融合，向从根本上解决安全问题迈出了坚实的一步。 “信息安全是创新发展的重要保障，CPU是构建网络信息系统安全防护体系的起点和根基。
            </p>
            <p>如果CPU存在漏洞或后门安全隐患，威胁将无法预估，甚至可能无从防御。”卫士通总经理王忠海表示，发展自主CPU以及建立自主信息技术体系和产业生态，不仅是国家的需要，也是时代的需要。随着密码泛在化时代来临，如何将密码技术作为一项核心安全能力融入到信创技术体系和产业生态中，是卫士通一直思考和努力的重要方向之一。 本次发布的龙芯安全模块及SDK，是卫士通密码泛在化发展思路的一次成功实践。通过将密码计算技术、通用计算技术与可信计算技术进行芯片级的一体化融合设计，卫士通与龙芯中科协力实现了硬件级密码算法处理能力和芯片级安全防护能力的统一，在推进应用处理器、通信处理器本质安全的同时，还为操作系统及上层应用提供灵活的全新安全解决方案。
            </p>
            <p> 龙芯安全模块及SDK “在模块研发过程中，我们独立于处理器核，集成硬件加解密算法和安全可信管理功能，不仅支持国密算法SM2/SM3/SM4，还可取代外置密码卡。”卫士通研究院院长石元兵表示，龙芯安全模块具有高安全、低成本、易使用、轻改造和强合规等特点，以IP核方式挂载到龙芯处理器内部总线，不仅实现了为基础软件、应用软件、应用系统提供安全、合规和标准化的密码支撑能力，还为用户提供密码运算、可信计算、硬件级安全防护、层次化灵活调用等服务，可广泛应用于高安全等级的自主安全终端、可信计算终端和各型安全设备中。
                “目前龙芯3A4000已经通过国家商密二级型号认证，可以给应用厂商提供SDK做定制开发。”石元兵表示，卫士通将继续与广大产业链合作伙伴一道加快应用推广，向电子政务、金融、能源、交通、通信等重要行业领域提供安全解决方案，用技术构建安全壁垒、用生态形成安全屏障，赋能关键信息基础设施和新基建网络安全保障能力建设，为用户带来全新的、灵活的安全价值。
            </p>
        </div>
    </div>
</div>


<div class="footer">
    <div class="win1200">
        版权所有：中电科技集团重庆声光电有限公司

    </div>
</div>

</body>

</html>