<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
<!-- Title+导航 -->
<#include "header.html" />

<div class="main-bj ">
    <div class="win1200 main-content ">
        <div class="p20 ">
            <div class="w250 fl margin-b-50 ">
                <div class="left-content margin-b-20 ">

                    <div class="subnav ">

                        <!-- 左侧栏目导航 -->
                        <a href=" " class="active ">专题报告</a>
                        <a href=" ">电子快报</a>

                    </div>
                </div>

            </div>
            <div class="w890 fr ">

                <div class="news-list">
                    <ul>
                        <li>
                            <div class="time">09 - 20<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="${base}/product/detail?id=123">中国电科召开2020年基层党建工作推进会</a></dt>
                                <dd>
                                    9月4日，中国电科召开2020年基层党建工作推进会，深入贯彻党中央及国资委关于全面从严治党各项决策部署，进一步落实集团公司年中工作会精神，持续推动年度党建工作重点任务全面完成。集团公司党组......
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                09 - 20<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/827.html">践行理论、强基提质！中国电科召开优秀政研成果交流评审会</a></dt>
                                <dd>
                                    8月28日，中国电科党组在南京召开中国电科优秀政研成果交流评审会，党组副书记、董事胡爱民出席会议并讲话，江苏省委党校、集团公司战略研究中心专家应邀参加。...
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                08 - 13<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/551.html">中国电科、东方明珠组建合资公司 加速领跑“新基建”</a></dt>
                                <dd>
                                    “新基建”已按下快进键。8月27日，中国电科、东方明珠在上海共同宣布成立中电科数智科技有限公司，以新一代信息基础设施建设、运营为核心，构建立足上海、面向长三角、辐射全国的创新平台打造数字
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                08 - 13<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/550.html">深入学习宣传民法典，谱写法治电科新篇章
                                </a></dt>
                                <dd>
                                    《民法典》是新中国成立以来第一部以“法典”命名的法律，在中国特色社会主义法律体系中具有重要地位。近日，中国电科组织印发了贯彻实施民法典的指导意见，制定了民法典学习宣传工作方案，并组织全集
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                07 - 02<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/20.html">吴曼青与保定市委书记党晓龙举行工作座谈</a></dt>
                                <dd>
                                    8月19日，中国电科总经理、党组副书记、中国工程院院士吴曼青与保定市委书记党晓龙举行工作座谈，围绕打造高端信息产业园、加快推进数据应用服务产业发展、赋能数字保定建设等深入交流。保定市市长
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                07 - 02<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/17.html">中国网安与龙芯中科联合发布“龙芯安全模块及SDK”</a></dt>
                                <dd>
                                    8月5日，在“筑造信创安全边疆——龙芯CPU安全体系发布会”上，中国网安旗下卫士通与龙芯中科联合发布“龙芯安全模块及SDK（软件开发工具包）”，标志着双方在信息技术应用创新大潮下，将密码技术与
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="time">
                                07 - 02<i>2018</i>
                            </div>
                            <dl>
                                <dt><a href="/news/detail/17.html">中国电科召开二级公司监事会工作交流会</a></dt>
                                <dd>
                                    8月5日，中国电科在京召开二级公司监事会工作交流会，党组成员、副总经理、总会计师李守武出席会议并讲话，强调要全面落实党组部署和领导要求，进一步发挥监事会监督作用，为集团公司高质量发展提
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>


                <div class="page ">


                    <a class="first "> < 上一页</a>

                    <a class="on ">1</a>


                    <a href=" ">2</a>


                    <a href=" ">3</a>


                    <a href=" ">4</a>


                    <a>...</a>
                    <a href=" ">11</a>


                    <a class="last " href=" ">下一页 > </a>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- 版权-->
<#include "footer.html" />

</body>

</html>