<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />

    <div class="main-bj ">
        <div class="win1200 main-content ">
            <div class="p20 ">
                <div class="w250 fl margin-b-50 ">
                    <div class="left-content margin-b-20">
                        <div class="subnav ">
                            <!-- 左侧栏目导航 -->
                            <#if root.categoryList?? && (root.categoryList?size gt 0)><#list root.categoryList as item>
                            <a href="/product/list/${item.parentId?c}/${item.categoryId?c}.html" <#if root.currCategoryId??><#if root.currCategoryId=item.categoryId>class="active"</#if></#if> ><#if item.categoryName??>${item.categoryName!''}</#if></a>
                            </#list></#if>
                        </div>
                    </div>

                </div>
                <div class="w890 fr ">
                    <div class="periodical ">
                        <ul><#if root.page??><#if root.page.list?? && (root.page.list?size gt 0)><#list root.page.list as item>
                            <li>
                                <div class="left-tit"><a href="${base}/product/detail/${item.dataId?c}.html"><#if item.name??>${item.name!''}</#if></a></div>
                                <div class="time"><#if item.createTime??>${item.createTime?string('MM-dd')}</#if></div>
                            </li></#list><#else>资料整理中...</#if></#if>
                        </ul>
                    </div>
                    <div class="page">
                        <#if root.page??><#if root.page.list?? && (root.page.list?size gt 0)>
                        <@page.pager root.page "/product/list/${root.parentId?c}/${root.currCategoryId?c}.html" {} 3/>
                    </#if></#if>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 版权-->
    <#include "footer.html" />
</body>

</html>