<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="${base}/res/website/images/favorite.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="${base}/res/website/style/style.css" />
</head>

<body>
    <!-- Title+导航 -->
    <#include "header.html" />

    <div class="main-bj ">
        <div class="win1200 main-content ">
            <div class="p20 ">
                <div class="w250 fl margin-b-50 ">
                    <div class="left-content margin-b-20 ">

                        <div class="subnav ">

                            <!-- 左侧栏目导航 -->
                            <a href=" " class="active ">半导体光电</a>
                            <a href=" ">微电子学</a>
                            <a href=" ">磁性材料及器件</a>
                            <a href=" ">压电与声光</a>
                        </div>
                    </div>

                </div>
                <div class="w890 fr ">

                    <div class="periodical ">
                        <ul>
                            <li>
                                
                                    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                                    <div class="time ">08-29</div>
                                 
                            </li>
                            <li>
                                
                                <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                                <div class="time ">08-29</div>
                             
                        </li>
                        <li>
                                
                            <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                            <div class="time ">08-29</div>
                         
                    </li>
                    <li>
                                
                        <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                        <div class="time ">08-29</div>
                     
                </li>
                <li>
                                
                    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                    <div class="time ">08-29</div>
                 
            </li>
            <li>
                                
                <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                <div class="time ">08-29</div>
             
        </li>
        <li>
                                
            <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
            <div class="time ">08-29</div>
         
    </li>
    <li>
                                
        <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
        <div class="time ">08-29</div>
     
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>
<li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>
                        </ul>
                    </div>


                    <div class="page ">


                        <a class="first "> < 上一页</a>

                        <a class="on ">1</a>


                        <a href=" ">2</a>


                        <a href=" ">3</a>


                        <a href=" ">4</a>


                        <a>...</a>
                        <a href=" ">11</a>


                        <a class="last " href=" ">下一页 > </a>



                    </div>
                </div>
            </div>






        </div>
    </div>

    <!-- 版权-->
    <#include "footer.html" />


</body>

</html>