<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>中电科技集团重庆声光电有限公司</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="Shortcut Icon" href="images/favorite.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="style/style.css" />


</head>

<body>

    <!-- 顶部 -->
    <div class="top-bj">

        <div class="win1200">
            <div class="logo-warp"><img src="../web/images/logo.jpg"></div>
            <div class="seach-warp">
                <div class="seachall clearfix">
                    <input id="searchText" name="q" type="text" value="请输入关键词"><button name="button" type="submit" value=" 搜索"></button></div>
            </div>
        </div>
    </div>
    <div class="navbj">
        <div class="menu">
            <ul>
                <li><a href="">首页
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->

                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                <li><a href="">中文期刊数据库
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href="">CNKI</a></li>
                        <li><a href="">维普</a></li>
                        <li><a href="">超星</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                <li><a href="">外文期刊数据库
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href="">核心会议录</a></li>
                        <li><a href="">核心会议录</a></li>
                        <li><a href="">IEEE全文会议期刊</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>

                <li><a href="">情报中心产品
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href="">专题报告</a></li>
                        <li><a href="">电子快报</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>

                <li><a href="">集团情报产品
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href="">集团情报产品分类1</a></li>
                        <li><a href="">集团情报产品分类2</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>

                <li><a href="" class="menu-active">公司主办期刊
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href=" ">半导体光电</a></li>
                        <li><a href=" ">微电子学</a></li>
                        <li><a href=" ">磁性材料及器械</a></li>
                        <li><a href=" ">压电与声光</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                <li><a href="">外购报告
                        <!--[if IE 7]><!--></a>
                    <!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <ul>
                        <li><a href=" ">外购报告分类1</a></li>
                        <li><a href=" ">外购报告分类2</a></li>
                    </ul>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
            </ul>
        </div>
    </div>
    <div class="main-bj ">
        <div class="win1200 main-content ">
            <div class="p20 ">
                <div class="w250 fl margin-b-50 ">
                    <div class="left-content margin-b-20 ">

                        <div class="subnav ">

                            <!-- 左侧栏目导航 -->
                            <a href=" " class="active ">半导体光电</a>
                            <a href=" ">微电子学</a>
                            <a href=" ">磁性材料及器件</a>
                            <a href=" ">压电与声光</a>
                        </div>
                    </div>

                </div>
                <div class="w890 fr ">

                    <div class="periodical ">
                        <ul>
                            <li>
                                
                                    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                                    <div class="time ">08-29</div>
                                 
                            </li>
                            <li>
                                
                                <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                                <div class="time ">08-29</div>
                             
                        </li>
                        <li>
                                
                            <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                            <div class="time ">08-29</div>
                         
                    </li>
                    <li>
                                
                        <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                        <div class="time ">08-29</div>
                     
                </li>
                <li>
                                
                    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                    <div class="time ">08-29</div>
                 
            </li>
            <li>
                                
                <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
                <div class="time ">08-29</div>
             
        </li>
        <li>
                                
            <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
            <div class="time ">08-29</div>
         
    </li>
    <li>
                                
        <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
        <div class="time ">08-29</div>
     
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>
<li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>  <li>
                                
    <div class="left-tit "><a href=" ">2020电子快报第三期</a></div>
    <div class="time ">08-29</div>
 
</li>
                        </ul>
                    </div>


                    <div class="page ">


                        <a class="first "> < 上一页</a>

                        <a class="on ">1</a>


                        <a href=" ">2</a>


                        <a href=" ">3</a>


                        <a href=" ">4</a>


                        <a>...</a>
                        <a href=" ">11</a>


                        <a class="last " href=" ">下一页 > </a>



                    </div>
                </div>
            </div>






        </div>
    </div>




    <div class="footer ">
        <div class="win1200 ">
            版权所有：中电科技集团重庆声光电有限公司

        </div>
    </div>




</body>

</html>